html {
    background-color: #FBB52D;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #7e7e7e;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

header.sticky {

    width: 100%;
    background: #FF5F5F;
}



header #head-wrap {

    max-width: 100%;
    height: 80px;
    padding: 10px 0;
}

header #head-wrap .wrap {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.p-bienvenue {

    font-family: 'Oswald', sans-serif;
    color: #eceff3;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;

}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bienvenue {
    flex: 1;
    text-align: center;


}


nav {
    /* margin: 100px auto; */
    width: 100%;
    height: 60px;
    background: #48435C;
}

nav .main_pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .main_pages a {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    color: white;
}

nav a:hover {

    background: #fbb52d;
    color: #303030
}


.icons {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.icons a {
    color: #31455d;
    text-decoration: none;
}

.icons a:hover {

    color: #fbb52d;
}

label,
#toggle {
    display: none;
}

/* body */

.image1 {
    width: 50%;
    margin-left: 25%;
}

hr {
    display: none;
}

h1 {
    text-align: center;
}

.flexActu1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageactu1 {
    width: 20%;
    margin-top: 5%;
    margin-left: 3%;
}

.textActu1 {
    margin-top: 5%;
    margin-left: 2%;
    width: 20%;
}

.imageactu2 {
    margin-top: 8%;
    margin-left: 5%;
    width: 25.5%;
    height: 50%;
}

.textActu2 {
    margin-top: 8%;
    margin-left: 2%;
    width: 20%;
}

.imageactu3 {
    margin-top: 10%;
    margin-left: 3%;
    width: 30%;
    height: 20%;
}

.flexActu2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

.textActu3 {
    margin-top: 10%;
    margin-left: 2%;
    width: 20%;
}

.imageactu4 {
    margin-top: 10%;
    margin-left: 5%;
    width: 16%;
}

.textActu4 {
    margin-top: 10%;
    margin-left: 2%;
    width: 20%;
}

footer {
    margin-top: 4%;
    font-family: 'Roboto Slab', serif;
}

.footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 1px; */
}

.footeradresse {
    width: 50%;
    background-color: #31455d;
    color: white;
    /* min-height: 30vh; */
    padding-bottom: 10px;
}

.footerh2 {
    text-align: center;
}

.footerp {
    text-align: center;
}

footer a {
    margin: 0 auto;
    display: block;
}

.footerbutton {
    text-decoration: none;
}

.footerbutton1 {
    padding: 10px 50% 10px 14%;
    margin-left: 20%;
    cursor: pointer;
    width: 20%;
    height: 15%;
}

.footerbutton1:hover {
    opacity: 0.75;
}

.footerhoraire {
    text-align: center;
    width: 50%;
    align-items: center;
    background-color: #31455d;
    color: white;

}

.footercopyright {
    text-align: center;
    flex: 1;
    background-color: #fbb52D;
    color: white;
}

.footercopyright li {

    display: inline-block;
}

.footercopyright a:hover {
    text-decoration: none;
}

.footercopyright .mentions {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

.footercopyright p {

    text-align: center;
}

.event-footer {

    background-color: #31455d;
    color: #fff;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

}

.event-footer img {
    width: 20%;
}



.event-footer:hover {

    background-color: #31455d;
    color: #fbb52D;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

/* ==== RESPONSIVE A VENIR ====
@florian */



.event-footer {

    background-color: #5082beb3;
    border-radius: 14px;
    color: #fff;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

}

.event-footer:hover {

    background-color: #0752ad;
    color: #fbb52D;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

@media screen and (max-width: 480px) {

    /* Header */

    nav {
        height: 60px;
    }

    nav .main_pages {
        display: none;
        flex-direction: column;
        background: #31455d;
        height: 220px;
    }

    nav .main_pages a {
        width: 100%;
        background: #5A5766;
        border-bottom: 1px dotted;
        color: white;
        z-index: 99;
    }

    nav .main_pages a:hover {
        background: #48435C;
    }

    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked+.main_pages {
        display: flex;
    }

    /* Body */

    body {
        font-size: 12px;
    }

    .image1 {
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    h1 {
        font-size: 3em;
    }

    .flexActu1 {
        display: block;
    }

    .flexActu2 {
        display: block;
    }

    hr {
        display: block;
        border-style: dashed;
        margin-top: 15%;
    }

    .hr1,
    .hr2 {
        margin-top: 10%;
    }

    .textActu1,
    .textActu2,
    .textActu3,
    .textActu4 {
        margin: auto;
        margin-top: 5%;
        width: 85%;
        text-align: center;
    }

    .imageactu2,
    .imageactu3,
    .imageactu1 {
        margin: 15% 0 6% 19%;
        width: 60%;
    }

    .imageactu1 {
        margin-top: 10%;
    }

    .imageactu4 {
        width: 45%;
        margin: 15% 0 6% 26%;
    }

    .textActu4 {
        margin-bottom: 15%;
    }

    /* Footer */



    .footeradresse {

        width: 100%;
        margin-bottom: 2%;
    }

    .footerhoraire {
        width: 100%;
        margin-bottom: 2%;
    }

    a.event-footer {
        width: 30%;
        background-color: #405670;
    }

}

@media screen and (min-width: 481px) and (max-width: 1000px) {

    /* Body */

    body {
        font-size: 25px;
    }

    .image1 {
        margin-top: 8%;
    }

    .imageactu1 {
        width: 10%;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    h1 {
        font-size: 3em;
    }

    .flexActu1 {
        display: block;
    }

    .flexActu2 {
        display: block;
    }

    hr {
        display: block;
        border-style: dashed;
        margin-top: 15%;
    }

    .hr1,
    .hr2 {
        margin-top: 10%;
    }

    .textActu1,
    .textActu2,
    .textActu3,
    .textActu4 {
        margin: auto;
        margin-top: 5%;
        width: 85%;
        text-align: center;
    }

    .imageactu2,
    .imageactu3,
    .imageactu4,
    .imageactu1 {
        margin: 15% 0% 6% 19%;
        margin-top: 15%;
        margin-left: 27%;
        width: 45%;
    }

    .imageactu1 {
        margin-top: 10%;
    }

    .textActu4 {
        margin-bottom: 15%;
    }



}