.image {
    width: 65%;
    margin-left: 17.5%;
}

.main {
    margin-top: 68px;
    width: 60%;
}

.flex {
    display: flex;
    margin-left: 10%;
    margin-top: 50px;
}

.flex1 {
    width: 40%;
}

.flex2 {
    margin-left: 3%;
}

.flex3,
.flex4 {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    margin-bottom: 10%;
}

.forNom,
.forPrenom,
.forMail,
.forTel {
    margin-top: 20px;
}

input {
    width: 110%;
    height: 20px;
}

.inputTel {
    width: 86%;
}

textarea {
    resize: none;
}