body {
    margin: 0;
}

/* ==== HEADER ===== */


header.sticky {

    width: 100%;
    background: #FF5F5F;
}

header #head-wrap {

    max-width: 100%;
    height: 80px;
    padding: 10px 0;
}

header #head-wrap .wrap {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

span {
    color: rgb(198, 198, 243);
}

.p-bienvenue {

    font-family: 'Oswald', sans-serif;
    color: #31455d;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;

}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img-logo {
    margin-top: -10px;
    width: 140px;
}

.home-img {
    display: block;
    max-width: 100%;
    height: auto;
}

img.seek-img {

    display: block;
    max-width: 100%;
    height: auto;
    width: 20px;
    padding: 10px;

}

.bienvenue {
    flex: 1;
    text-align: center;
    border-left: 1px dotted#31455d;
    border-right: 1px dotted #31455d;

}

.checkHead {
    box-shadow: none;
}

nav {
    /* margin: 100px auto; */
    width: 100%;
    height: 60px;
    background: #48435C;
}

nav .main_pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .main_pages a {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
}

nav a:hover {

    background: #fbb52d;
    color: #303030
}


.icons {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.icons a {
    color: #31455d;
    text-decoration: none;
}

.icons a:hover {

    color: #fbb52d;
}

.image {
    width: 65%;
    margin-left: 17.5%;
}

.main {
    margin-top: 4%;
    width: 80%;
}

main {
    width: 39%;
    margin-top: 1.5%;
    border: 1.5px solid black;
    border-radius: 2%;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 64%);
    padding-right: 8%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.flex {
    display: flex;
    margin-left: 12%;
    margin-top: 50px;
}

.flex1 {
    width: 40%;
}

.flex2 {
    margin-left: 3%;
}

.flex3 {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

.flex4 {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    margin-bottom: 6%;
}

.flex5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.forNom,
.forPrenom,
.forMail,
.forTel {
    margin-top: 20px;
}

input {
    width: 120%;
    height: 20px;
    box-shadow: inset 0px 0px 2px rgb(0 0 0 / 64%);
}

.inputTel {
    width: 117%;
}

textarea {
    resize: none;
    margin-bottom: 3%;
    width: 100%;
}

.check {
    width: 4%;
    box-shadow: none;
}

.bouton {
    margin-left: 15%;
}

.bouton1 {
    width: 180%;
    cursor: pointer;
    height: 150%;
}

.politique {
    margin-top: 1%;
}