html{

    background-color: rgb(251, 246, 236);
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

/* ==== HEADER ===== */


header.sticky {
   
    width: 100%;
    background:red;
}

header #head-wrap {

    max-width: 100%;
    height: 80px;
    padding: 10px 0;
}

header #head-wrap .wrap {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

span {
    color: blue;
}

/* clignotant  */

blink {
    -webkit-animation: 2s linear infinite condemed_blink_effect; 
    animation: 2s linear infinite condemed_blink_effect;
  }
  @-webkit-keyframes condemed_blink_effect { 
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes condemed_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
.p-bienvenue {

    font-family: 'Oswald', sans-serif;
    color: #eceff3;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;

}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img-logo{
    margin-top: -10px;
    width: 90px;
    border-radius: 50%;
}

.home-img {
    display: block;
    max-width: 100%;
    height: auto;
}

img.seek-img {

    display: block;
    max-width: 100%;
    height: auto;
    width: 20px;
    padding: 10px;
   
}

.bienvenue {
    flex: 1;
    text-align: center;


}

 nav 
{
    /* margin: 100px auto; */
    width: 100%;
    height: 60px;
    background: blue;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
}
 
nav a:hover 
{
    border-radius: 14px;
    background: #fbb52d;
    color: #303030
}


.icons {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.icons a {
    color: #31455d;
    text-decoration: none;

}

.icons a:hover {

    color:#fbb52d;
} 


/* === MAIN === */


section .bg-main {
    background-image: url(/images/accueil.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche .seek {

    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    position: relative;
   

}

.recherche .seek input {

    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    background-color: #FFF;
    color: #7e7e7e;
    width: 520px;
    max-width: 100%;
    font-size: 1rem;
    font-weight: 400;

}

.recherche .loupe {

    width: 30px;
    height: 30px;
    display: block;
    background-size: 20px;
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;

}

.loupe {
    padding-right: 10px;
}

a.loupe {
left: 550px;
bottom: 17px;
}

form.seek {

    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin: 0;
}



#services {

    margin-top: 50px;
}

.section-liens {

    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;

}


.services {

    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}


h2.titre-liens {

    font-family: 'Oswald', sans-serif;
    color: #1d45d5;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.section-liens .services-clic {

    max-width: 115px;
    width: 20%;
    text-align: center;

}

.picto {

    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.picto img {
  box-shadow: 1px 1px 4px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
    max-width: 260px;
    max-height: 160px;
}

.link-title {

    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 15px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    transition: all,.3s;
}

a.services-clic {
    color: #31455d;
    text-decoration: none;
}

a.services-clic:hover .picto {

    background-color: #fbb52d;
    transition: ease-in 0.5s;
   
}

.hidden {
    display: none;
}

.liens-service {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #fbb52d;
}

.liens-txt {

    font-size: 1rem;
    text-transform: uppercase;
  
}

#bouton-services {
    margin: auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #fbb52d;
}

#bouton-services:hover {
    
    background-color: #31455d;
    cursor: pointer;
    transition: ease-in 0.5s;
}

#actualites {

    background-image: url(medias/hero-news.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.actualites {

    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 100%;

}

#bouton-actus {

    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #31455d;
}

#bouton-actus:hover {
    
    background-color: #fbb52d;
    cursor: pointer;
    transition: ease-in 0.5s;
}

.section-actus {

    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
}


/* ==== Evenements ==== */

.event h3{ 

    font-family: 'Oswald', sans-serif;
    color: #31455d;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
}

.event-picto img {
   width: 100%;
   box-shadow: 0 0 20px 0 rgba(200, 59, 59, 0.973);

}

.event-picto img:hover {
  
    background-color: rgba(189, 44, 44, 0.6);

 }

 .event p {
    text-align: center;
 }

p.event-text {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

a p.event-text {

    color: #7e7e7e;
}

.event {
    width: 25%;
    padding: 1%;
}
.event-footer  img{
    width: 20%;
}
.event a {

    text-decoration: none;

}

.event h3 {

    font-size: 20px;
    text-transform: uppercase;
    text-align: center;

}



.hover-image-event {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    transition: opacity 0.25s ease-in-out;
    
    background-color: rgba(0,0,0,0.3); 
    color: white;
    padding: 30px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .hover-image-event p {
    position: absolute;
    color: white;
    padding: 30px;
    
  }

  .hover-image-event p:hover {
    background-color: #9999;
    transition: ease-in 0.5s;

  }



/* ==== NEWSPAPER ==== */

#news {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {

    display: flex;
    justify-content: space-around;
    width: 100%;
}

.event-news {

    background-color: #FBB52D;
    margin-top: 30px;
    padding: 14px 15px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.event-news a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.pdf {
    width: 10%;
    padding-left: 25px;
}

.overlay-image {
    position: relative; 
    display: inline-block;
  }
  
  .overlay-image img {
    vertical-align: middle; 
  }
  
  .overlay-image .hover-image {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0; 
    transition: opacity 0.25s ease-in-out; 
    background-color: rgba(0,0,0,0.6); 
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .overlay-image:hover .hover-image {
    opacity: 1; 
  }

  .hover-image h3 {

    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

  }




/* ==== FOOTER ==== */

footer{
    font-family: 'Roboto Slab', serif;
}

.footerflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 1px; */
}

.footeradresse{
    
    width: 50%;
    background-color: #31455d;
    color: white;
    padding-bottom: 10px;
}

.footerh2{
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 24px;
}

.footerp{
    text-align: center;

}


footer a{
    margin: 0 auto;
    display: block;
}

.footerp a {
    color: rgb(0, 238, 255);
}

.footerbutton{
    text-decoration: none;
}

.footerbutton1{
    padding: 10px 50% 10px 14%;
    margin-left: 20%;
    cursor: pointer;
    width: 20%;
    height: 15%;
}

.footerbutton1:hover{
opacity: 0.75;
}

.footerhoraire{
    text-align: center;
    width: 50%;
    align-items: center;
    background-color: #31455d;
    color: white;    

}

.footercopyright{
    text-align: center;
    flex: 1;
    background-color:  #fbb52D;
    color: white;
}

.footercopyright li {

    display: inline-block;
}

.footercopyright a:hover {
    text-decoration: none;
}

.footercopyright .mentions {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

.footercopyright p {

    text-align: center;
}

.footercopyright ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.event-footer {

    background-color: #5082beb3;
    border-radius: 14px;
    color: #fff;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

}

.event-footer:hover {

    background-color: #0752ad;
    color: #fbb52D;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

label, #toggle
{
    display: none;
}

label#reche {

    /* margin: 0;
    padding: 0; */
    display: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }



/* ===== RESPONSIVE ===== */


@media screen and (max-width: 480px) {


    /* === HEADER === */

    header.sticky {

        width: 100%;
        background: white;
    }
    
    header #head-wrap {
    
        display: flex;
        flex-direction: column;
    }
    
   
    .p-bienvenue {
    
        font-family: 'Oswald', sans-serif;
        color: #31455d;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
    
    }
    
    .logo {
        order: 1;
        flex: 1;
        display: flex;
        justify-content: center;
    }
    
    .home-img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    .bienvenue {
        display: none;
    
    }

    .icons {
        order: 2;
        flex: 1;
        text-align: center;
        font-size: 2rem;
    }
    
    .icons a {
        color: #31455d;
        text-decoration: none;
    }
    
    .icons a:hover {
    
        color:#fbb52d;
    }



/* === MENU === */


header.sticky {

    width: 100%;
    background: white;
}

header #head-wrap {

    display: flex;
    flex-direction: column;
}


.p-bienvenue {

    font-family: 'Oswald', sans-serif;
    color: #010810;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;

}

.logo {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bienvenue {
    display: none;

}


nav
{
    height: 60px;
}

nav .main_pages 
{
    display: none;
    flex-direction: column;
    background: #31455d;
    height: 220px;
}

nav .main_pages a {
    width: 100%;
    background: #5A5766;
    border-bottom: 1px dotted;
    color: white;
    z-index: 99;
}

nav .main_pages a:hover {
    background: #48435C;
}



label 
{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#toggle:checked + .main_pages {
    display: flex;
}


.icons {
    order: 2;
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.icons a {
    color: #31455d;
    text-decoration: none;
}

.icons a:hover {

    color:#fbb52d;
}


/* === bg main recherche === */


    section .bg-main {
       
        height: 150px;
      
    }

    label#recherche {

        display: none;
    }

    .recherche {

        z-index: 10;
    }
   
    .recherche .seek {
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        
    }

    .recherche .seek input {
        border: none;
        border-radius: 5px;
        padding: 20px 40px;
        background-color: #FFF;
        color: #7e7e7e;
        width: 100%;
    
    }

    
    form.seek {

        margin: 0;
    }

    a.loupe {
        left: 240px;
        bottom: 15px;
        }

    img.seek-img {
        
        padding: 5px;
        }

    .loupe {
        padding-right: 0;
    }


    /* === SECTION SERVICES === */


    .services {

        flex-wrap: wrap;
        flex-wrap: wrap;

    }

    .section-liens {

        width: 100%;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
    .link-title {

        text-align: center;
        font-size: 15px;
    }
    
    #services{

        align-items: center;
    }

    .picto {

        justify-content: center;
        
    }

    .section-liens .services-clic {

        width: 100%;
    }


/* === SECTION ACTUALITES */

    .actualites {

        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    
    }

    .event {
        padding: 10px 10px;
        width: auto;
        margin-bottom: 10px;
    }

    #actualites {
        height: auto;
        background-image: none;
    }

    .section-actus {
        flex-direction: column;
        margin-top: 30px;
    }

    #bouton-services, #bouton-actus {
        width: 80%;
    }

    .liens-txt {
        text-align: center;
    }

    #news {
        height: auto;
    }


    .news {

        flex-direction: column;
    }

    .overlay-image .hover-image {

        opacity: 1;
    }

    /* .event p {
        visibility: hidden;
    } */


    /* === FOOTER === */


    .footerflex {
        background-color: #31455d;
    }

    .footeradresse{
        width: 100%;
        margin-bottom: 2%;
    }
        
    .footerhoraire{
    width: 100%;
    margin-bottom: 2%;
    }
    
    a.event-footer{
    width: 30%;
    background-color: #405670;
    }
}

.logoandes{
    /* logo andes les epiceries solidaires  */
    width: 20%;
    margin-left: 8%;
}
.logobank{
    /* logo bank la banque alimentaire  */
    margin-top: -10%;
    width: 10%;
}
.icons a img:hover{
    background-color: #e1b5b5;
    border-radius: 14px;
}

/* style de carte de payment  */
